<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="create-blog content">
      <form action="/blogs" method="POST" enctype="multipart/form-data">
        <label for="title">Blog Title</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog Snippet</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body" required>Blog body:</label>
        <textarea id="body" required name="body"></textarea>
        <label for="image">upload image</label>
        <input type="file" id="image" name="image" />
        <button>Submit</button>
      </form>
    </div>
  </body>
  <%- include("../partials/footer.ejs") %>
</html>
