<nav>
  <div class="site-title">
    <a href="/"><h1>The Folk Art Files</h1></a>
    <p>Tales of regional creativity</p>
  </div>
  <ul>
    <li><a href="/">Posts</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Post</a></li>
  </ul>
</nav>
