<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | <%= title %></title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <form>
        <label for="title">Blog Title</label>
        <input type="text" id="title" required />
        <label for="snippet">Blog Snippet</label>
        <input type="text" id="snippet" required />
        <label for="body" required>Blog body:</label>
        <textarea id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
